# OS files
# 
.DS_Store

#
# hugo build artifacts
#
hugoroot/content/posts
hugoroot/public
hugoroot/resources/_gen/
hugoroot/.hugo_build.lock

# Obsidian Templates
mnt/sample-vault/Templates
mnt/sample-vault/.obsidian
mnt/sample-vault