# OS files
# 
.DS_Store

#
# hugo build artifacts
#
hugoroot/content/posts
hugoroot/public
hugoroot/resources/_gen/
hugoroot/.hugo_build.lock

# Ignore the blog source since 
# we are pulling it in as a submodule
# when building
# mnt/blog-source