[submodule "mnt/obsidian-export"]
	path = mnt/obsidian-export
	url = git@github.com:zoni/obsidian-export.git
[submodule "hugoroot/themes/hugo-bearcub"]
	path = hugoroot/themes/hugo-bearcub
	url = git@github.com:clente/hugo-bearcub.git